# Ignorar diretórios de compilação e arquivos de saída
bin/
obj/

# Ignorar arquivos de dependência do NuGet
*.dll
*.exe
*.pdb
*.dll.config
*.bin

# Ignorar arquivos de configuração de usuário
*.user

# Ignorar arquivos do Visual Studio
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
*.vsidx
api/.vs/ProjectEvaluation/regionalregionalcontactsapp.metadata.v7.bin
api/.vs/ProjectEvaluation/regionalregionalcontactsapp.projects.v7.bin
api/.vs/RegionalRegionalContactsApp/config/applicationhost.config
api/.vs/RegionalRegionalContactsApp/DesignTimeBuild/.dtbcache.v2
api/.vs/RegionalRegionalContactsApp/v17/.futdcache.v2
api/.vs/RegionalRegionalContactsApp/v17/DocumentLayout.json
api/.vs/ProjectEvaluation/regionalregionalcontactsapp.metadata.v8.bin
